#locationFieldsGrid {
  height: 100%;
}

#locationDetail-row1 {
  height: 100%;
}

.field-label {
  color: var(--ion-color-step-500) !important;
}

.card-header-title {
  color: var(--ion-color-step-500) !important;
}

.card-header-button-edit {
  color: var(--ion-color-step-500) !important;
  opacity: .5;
}

.card-header-button-edit:hover {
  opacity: 1;
}

.item-buttons-tight {
  margin-left: 2px;
  opacity: .5;
}

.item-buttons-tight:hover {
  opacity: 1;
}

.list-header-button-reset {
  color: var(--ion-color-step-500) !important;
  opacity: .2;
}

.list-header-button-reset:hover {
  opacity: 1;
}