#materialFieldsGrid {
  height: 100%;
}

#materialFieldsGrid-mainRow {
  /* background-color: lightblue; */
  height: 100%;
}

.item-buttons-tight {
  margin-left: 2px;
}

.field-label {
  color: var(--ion-color-step-500) !important;
}

.card-header-title {
  color: var(--ion-color-step-500) !important;
}

.ion-card-step-50 {
  background-color: var(--ion-color-step-50) !important;
}